extends ../layouts/application.pug

block header
  = t('layouts.application.users')

block content
  table.table.table-dark.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= `${user.firstName} ${user.lastName}`
          td= user.email
          td= formatDate(user.createdAt)
          td
            .btn-group(role='group' aria-label='Basic mixed styles example')
              a.btn.btn-primary(href=`/users/${user.id}/edit` role='button')= t('views.users.update')
              +buttonTo(`/users/${user.id}`, 'delete')(class="btn btn-outline-danger me-2" value =t('views.users.delete'))
