- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin input(entity, propertyName, name, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
    .mb-3(class=(errors[propertyName] && 'has-danger'))
      label(
        for= inputId
      )= name
      input(
        id= inputId
        name=getInputName(propertyName)
        class=classLine
        value=_.get(entity, propertyName, '')
      )&attributes(attributes)
      if !_.isEmpty(propertyErrors)
        .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin textArea(entity, propertyName, name, defaultText = '', errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label(
      for= inputId
    )= name 
    textarea(
      id= inputId 
      name=getInputName(propertyName)
      class= classLine
      cols="30"
      rows="3"
    )&attributes(attributes)= _.get(entity, propertyName, '')
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin select(entity, propertyName, entities = [], name, def = null, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-select' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .mb-3
    label(
      for= inputId
    )= name
    select(
      id= inputId 
      name=getInputName(propertyName)
      class= classLine 
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
      if def.length === 0
        option
      each setEntity in entities
        if !setEntity.name
          if `${setEntity.firstName} ${setEntity.lastName}` !== def
            option(value= setEntity.id)= `${setEntity.firstName} ${setEntity.lastName}`
          else 
            option(selected, value= setEntity.id)= def
        else
          if !def.includes(setEntity.name)
            option(value= setEntity.id)= setEntity.name
          else
            option(selected, value= setEntity.id)= setEntity.name
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin alterSelect(entity, propertyName, entities, name, def = null, errors = {})
  - propertyErrors = _.get(errrors, propertyName)
  - classLine = 'form-select' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .col-12.col-md
    .input-group.mb-3
      label.input-group-text(
        for= inputId
      )= name
      select(
        id= inputId
        name= propertyName
        class= classLine 
        value=_.get(entity, propertyName, '')
      )&attributes(attributes)
        option
        each setEntity in entities
          if !setEntity.name
            if !def.includes(String(setEntity.id))
              option(value= setEntity.id)= `${setEntity.firstName} ${setEntity.lastName}`
            else 
              option(selected, value= setEntity.id)= `${setEntity.firstName} ${setEntity.lastName}`
          else
            if !def.includes(String(setEntity.id))
              option(value= setEntity.id)= setEntity.name
            else
              option(selected, value= setEntity.id)= setEntity.name
      if !_.isEmpty(propertyErrors)
        .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)
