extends ../layouts/application.pug

block header
  = t('layouts.application.updateTask')

block content
  +formFor()(action=`/tasks/${task.id}` method='post')
    +input(task, 'name', value =t('views.tasks.name'), errors)(type="text", value = task.name)
    +textArea(task, 'description', value =t('views.tasks.description'), task.description, errors)(type="text")
    +select(task, 'statusId', statuses, value =t('views.tasks.status'), task.statusName, errors)
    +select(task, 'executorId', users, value =t('views.tasks.executor'), `${task.executorFirstName} ${task.executorLastName}`, errors)
    //+input(task, 'markId', value =t('views.tasks.marks'), errors)(type="text")
      select.form-select(multiple='' aria-label='multiple select example')
        each mark in marks                          СКОРО!!!
          option= mark.name
    +submit(task)(value=t('views.tasks.update'))