extends ../layouts/application.pug

block header
  = t('layouts.application.tasks')
block content
  //table.table.table-striped
  a.btn.mb-5.btn-primary(href=`/tasks/new` role='button')= t('views.tasks.create')
  .card.mb-5.mt-1.p-1.shadow-lg.bg-dark
    .card-body.p-4
      +formFor()(action=route('tasks') method='get')
        .row
          +alterSelect(status, 'status', statuses, value =t('views.tasks.status'), queries.status || [], errors)
          +alterSelect(executor, 'executor', users, value =t('views.tasks.executor'), queries.executor || [], errors)
          +alterSelect(label, 'label', labels, value =t('views.tasks.label'), queries.label || [], errors)
        .mb-3.form-check
          if queries.isCreatorUser === 'On'
            input#data_isCreatorUser.form-check-input(type='checkbox' name='isCreatorUser' checked)
          else
            input#data_isCreatorUser.form-check-input(type='checkbox' name='isCreatorUser')
          label.form-check-label(for='data_isCreatorUser')= t('views.tasks.onlyMyTasks')
        input.btn.btn-primary(type='submit' value= t('views.tasks.show'))
  table.table.table-dark.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.author')
        th= t('views.tasks.executor')
        th= t('views.statuses.createdAt')
        th= t('views.statuses.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href = `/tasks/${task.id}`)= task.name
          td= task.statuses.name
          td= `${task.creator.firstName} ${task.creator.lastName}`
          if !task.executor
            td= ''
          else 
            td= `${task.executor.firstName} ${task.executor.lastName}`
          td= formatDate(task.createdAt)
          td
            .btn-group(role='group' aria-label='Basic mixed styles example')
              a.btn.btn-primary(href=`/tasks/${task.id}/edit` role='button')= t('views.tasks.update')
              +buttonTo(`/tasks/${task.id}`, 'delete')(class="btn btn-outline-danger me-2" value=t('views.tasks.delete'))